<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div>
    <label for="name1">Name:</label>
    <input type="text" id="name1" formControlName="name" />
  </div>
  <div>
    <label for="age1">Age:</label>
    <input type="number" id="age1" formControlName="age" />
  </div>

  <div formGroupName="address">
    <div>
      <label for="street">Street:</label>
      <input type="text" id="street" formControlName="street" />
    </div>
    <div>
      <label for="city">City:</label>
      <input type="text" id="city" formControlName="city" />
    </div>
    <div>
      <label for="state">State:</label>
      <input type="text" id="state" formControlName="state" />
    </div>
    <div>
      <label for="zip">Zip:</label>
      <input type="number" id="zip" formControlName="zip" />
    </div>
  </div>

  <div formArrayName="phoneNumbers">
    <div *ngFor="let number of phoneNumbers.controls; let i = index">
      <label for="phone{{ i }}">Phone Number {{ i + 1 }}:</label>
      <input type="number" id="phone{{ i }}" [formControlName]="i" />
      <button type="button" (click)="removePhoneNumber(i)">Remove</button>
    </div>
  </div>

  <button (click)="addPhoneNumber()">Add New Phone Number</button>

  <button type="submit" [disabled]="!this.myForm.valid">Submit</button>
</form>
