<div class="box">
  <h1>Binding</h1>
  <h2>Welcome in {{ title }}</h2>
  <button [disabled]="isDisabled">{{ myBtn }}</button>
  <div [style.backgroundColor]="bgColor">
    <h2 [style.color]="titleColor">Style Binding</h2>
    <p [style]="description">Multi Style Binding</p>
  </div>
  <p [class.errorColor]="titleType == 'error'">HEY</p>

  <button type="button" (click)="incrementCount()">
    Clicked {{ count }} times
  </button>
</div>

<div class="box">
  <h1>2 way data binding</h1>
  <label for="myNum">Enter Number</label>
  <input id="myNum" type="number" [(ngModel)]="myNum" />
  @if((myNum!==null)){
  <h2>{{ myNum }}<sup>2</sup> = {{ myNum * myNum }}</h2>
  }
</div>

<div class="box">
  <h1>Attribute directive</h1>
  <div [ngClass]="messageClass">
    <span [ngStyle]="{ 'text-transform': messageTextTransform }">{{
      message
    }}</span>
  </div>
</div>

<div class="box">
  <h1>Structure directive</h1>
  <label for="isLoggedIn">Is User Logged In?</label>
  <input id="isLoggedIn" type="checkbox" [(ngModel)]="isLoggedIn" />
  <div *ngIf="isLoggedIn; else elseBlock">
    <h2>Welcome</h2>
  </div>
  <ng-template #elseBlock> <h2>Please Login</h2></ng-template>

  <div *ngIf="isLoggedIn">
    <h3>List of Users</h3>
    <div *ngFor="let user of users; let rank = index">
      <span>{{ rank + 1 }}. {{ user.name }} ({{ user.role }}) - </span>
      <span [ngSwitch]="user.role">
        <span *ngSwitchCase="'admin'">Can do anything</span>
        <span *ngSwitchCase="'editor'">Can view and edit</span>
        <span *ngSwitchCase="'viewer'">can only view</span>
        <span *ngSwitchDefault>NA</span>
      </span>
    </div>
  </div>
</div>

<div class="box">
  <h1>Control flow directive</h1>
  <label for="isLoggedIn">Is User Logged In?</label>
  <input id="isLoggedIn" type="checkbox" [(ngModel)]="isLoggedIn" />
  @if(isLoggedIn){
  <h2>Welcome</h2>
  }@else {
  <h2>Please Login</h2>
  } @if(isLoggedIn){
  <h3>List of Users</h3>
  @for(user of users; track user.name; let rank=$index){
  <span>
    <span>{{ rank + 1 }}. {{ user.name }} ({{ user.role }}) - </span>
    @switch (user.role) { @case ('admin') {
    <span>Can do anything</span>
    } @case ('editor') {
    <span>Can view and edit</span>
    } @case ('viewer') {
    <span>can only view</span>
    } @default {
    <span>NA</span>
    } }
  </span>
  } }
</div>

<div class="box">
  <h1>Pipe</h1>
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Launch Date</th>
        <th>Availability</th>
        <th>Manufacturer</th>
      </tr>
    </thead>
    <tbody>
      @for(item of products; track item.id ){
      <tr>
        <td>{{ item.name | uppercase }}</td>
        <td>{{ item.price | currency : "INR" : "symbol" : "1.0-1" }}</td>
        <td>{{ item.discount | percent }}</td>
        <td>{{ item.launchDate | date : "MM/yy" }}</td>
        <td>{{ item.availability | lowercase }}</td>
        <td>{{ item.company | titleCase }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="box">
  <h1>Services and dependency injection</h1>
  <app-api />
</div>

<div class="box">
  <h1>Signal, computed and effect</h1>
  <app-expense-tracker />
</div>

<div class="box">
  <h1>Template Driven Forms</h1>
  <app-template-driven-form />
</div>
