<div class="box">
  <h1>Binding</h1>
  <h2>Welcome in {{ title }}</h2>
  <button [disabled]="isDisabled">{{ myBtn }}</button>
  <div [style.backgroundColor]="bgColor">
    <h2 [style.color]="titleColor">Style Binding</h2>
    <p [style]="description">Multi Style Binding</p>
  </div>
  <p [class.errorColor]="titleType == 'error'">HEY</p>

  <button type="button" (click)="incrementCount()">
    Clicked {{ count }} times
  </button>
</div>

<div class="box">
  <h1>2 way data binding</h1>
  <label for="myNum">Enter Number</label>
  <input id="myNum" type="number" [(ngModel)]="myNum" />
  @if((myNum!==null)){
  <h2>{{ myNum }}<sup>2</sup> = {{ myNum * myNum }}</h2>
  }
</div>

<div class="box">
  <h1>Attribute directive</h1>
  <div [ngClass]="messageClass">
    <span [ngStyle]="{ 'text-transform': messageTextTransform }">{{
      message
    }}</span>
  </div>
</div>
